* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.texto_categorias {
    font-size: 18px; 
    font-weight: bold; 
    color: #FFFFFF; 
    margin: 0 200px; 
    text-decoration: none; 
    position: relative;
    top: 50px;
    
}

.texto_categorias:hover {
    color: #FFFF00; 
}
body {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    height: 100vh; 
    box-sizing: border-box;
}

header {
    background-color: #2c3e50;
    padding: 10px 0;
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #3498db;
    text-align: center;
    top: 110px;
    position: relative;
}

section {
    width: 100%;
    height: 1500px;
    background-color: #2980b9;
    position:relative;
    top: 100px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #856951;
    position:relative;
    top: 50px;
}

.pesquisar {
    width: 60%;
    height: 40px;
    background-color: #ffffff;
    position:relative;
    top: 60px;
    
}

.titulo{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 0 200px;
    text-decoration: none;
    text-align: left;
}

.titulo2 {
        font-size: 15px;
        font-weight: bold;
        color: #dadada;
        margin: 0 200px;
        text-decoration: none;
        text-align: left;
        font-style: italic; 
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #000000; /* Cor de fundo do botão */
        color: white; /* Cor do texto */
        text-decoration: none; /* Remove sublinhado */
        text-align: center;
        border-radius: 5px; /* Bordas arredondadas */
        transition: background-color 0.3s;
    }
    
    .btn:hover {
        background-color: #eff142; /* Cor ao passar o mouse */
    }
    
    .vitrine {
        display: flex;
        flex-wrap: wrap;
        justify-content: left; /* Centraliza os itens na horizontal */
        padding: 20px;
        gap: 20px; /* Espaçamento entre os itens */
    }
    
    .item {
        width: 200px; /* Largura de cada item */
        text-align: center; /* Centraliza o texto dentro do item */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adiciona sombra para destaque */
        padding: 10px;
    }
    
    .item img {
        width: 100%; /* Faz a imagem preencher a largura do item */
        height: auto; /* Mantém a proporção da imagem */
    }
    
    .item h3 {
        color: #333; /* Cor do título do livro */
        margin: 10px 0;
    }
    
    .item p {
        color: #000000; /* Cor do texto do resumo ou preço */
    }

    @media (max-width: 768px) {
        .vitrine {
            flex-direction: column;
            align-items: center;
        }
    
        .item {
            width: 90%; /* Faz cada item ocupar quase toda a largura da tela em dispositivos móveis */
        }
    }
    
    .search {
        display: flex;
        align-items: center;
    }
    
    .search .pesquisar {
        flex-grow: 1;
        border: none;
        padding: 10px;
        margin-right: 5px;
    }
    
    .search i {
        color: #3498db;
        cursor: pointer;
    }
    
    .social-icon {
        margin: 0 10px;
        color: #3498db; /* Ou qualquer outra cor que você prefira */
    }
    
    .social-icon:hover {
        color: #2980b9;
    }
    