.titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.pesquisar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0 150px;
}
body {
    background-color:#BF5B04;
}

.menu {
    background-color: #591A03;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu a {
    margin-right: 30px;
    padding: 0 150px; /* Adiciona espaçamento interno nos links */
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

